@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    overflow-x: hidden;
    color: black;
}

:root{
    --family-nav-footer: 'Style Script', cursive;
    --family-welcome1: 'Style Script', cursive;
    --family-welcome2: 'Georama', sans-serif;
}

.grid-container {
    width: 100vw;
}

.row {
    display: table;
    clear: both;
    width: 100vw;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 100vw;
}

.col-lg-12 {
    width: 100vw;
}

.col-lg-11 {
    width: 91.66666667vw;
}

.col-lg-10 {
    width: 83.33333333vw;
}

.col-lg-9 {
    width: 75vw;
}

.col-lg-8 {
    width: 66.66666667vw;
}

.col-lg-7 {
    width: 58.33333333vw;
}

.col-lg-6 {
    width: 50vw;
}

.col-lg-5 {
    width: 41.66666667vw;
}

.col-lg-4 {
    width: 33.33333333vw;
}

.col-lg-3 {
    width: 25vw;
}

.col-lg-2 {
    width: 16.66666667vw;
}

.col-lg-1 {
    width: 8.33333333vw;
}

img {
    display: block;
    width: 100vw;
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    background: #a92272;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    font-family: var(--family-nav-footer);
    font-size: 30px;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 10px 80px;
    
   
}

.nav-list a:hover{
    
    color: #ffd024;
    overflow-y: hidden;
}

.welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #0efff9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.welcome-section h1{
    font-family: var(--family-welcome1);
    width: 100vw;
    font-size: 50px;
}

.welcome-section h1:hover{
    
    color: #cea100;
    overflow-y: hidden;
}
.welcome-section {
    font-family: var(--family-welcome2);
    width: 100vw;
    font-size: 25px;
}



.projects-section {
    text-align: center;
    padding: 0 3rem;
    background: #3a134f;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.projects-section h2 {
    margin-bottom: 60px;
    margin-top: 60px;
    font-family: var(--family-welcome1);
    font-size: 50px;
    color: #a92272;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    height: 100vh;
    max-width: 1280px;
}

.project-grid p{
    margin-top: 20px;
    font-family: var(--family-welcome2);
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 1px 1px 3px rgb(0, 0, 0); 
}
.project-grid p:hover{
    color: #ffcf21;
    
}

.project-image {
    height: calc( 100% 6.8rem);
    width: 100%;
    object-fit: cover;
}

.contact {
    height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #0efff9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.contactame {
    width: 70vw;
    margin: auto;
    text-align: center;
}

.contactame h1{
    font-family: var(--family-welcome1);
    width: 100%;
    font-size: 50px;
}

.contactame h1:hover{
    
    color: #cea100;
    overflow-y: hidden;
}

.contactame p{
    font-family: var(--family-welcome2);
    width: 100%;
    font-size: 25px;

}
.contact-links {
    width: 100vw;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-links i{      
    width: 100%;
    font-size: 40px;
    color: #a92272;    
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    transition: transform 0.3s ease-out;
    margin-bottom: 20px;
}

.contact-links i:hover {
    transform: translateY(8px);
    color: #ffd024;
}

#piePagina{
    width: 100vw
}
.info-footer{
    display: flex;
    justify-content: center;
    background: #a92272;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-family: var(--family-welcome2);
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0); 
    font-weight:500;  
}

.info-footer p{
    width: 100%;
    text-align: center;
}

/* Media ejemplo, ajustar tamaños con template */

@media (max-width:800px) {
    .nav-list {
        display: block;
    }
    .nav-list a {
        display: block;
        padding: 1px;
    }

    .projects-section h2 {
        margin-bottom: 60px;
        margin-top: 150px;
    }

    .contactame{
        margin-top: 180px;
    }

}